
body {
    
    }

#titel {
    display: flex;
    justify-content: center;
    background-color: gray;
}
#ansatte {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.ansattbox {
    display: flex;
    flex-direction: column;
    padding : 0;
    margin : 0;
    border: 1px;
    border-color: black;
    border-style: outset;
}
.ansattbox1 {
    display: flex;
    flex-direction: row;
    height: 20px;
    
}
.bilde {
    display: flex;
    justify-content: center;
}
.border {
    margin: 5px;
}
#bot {
    width: 600px;
    border: 1px;
    display: flex;
    flex-direction: row;
    border-color: black;
    border-style: outset;
    background-color: dimgray;
}
.bot1 {
display: flex;
flex-direction: column;
}