
#body {
    height: 100%;
    width: 100%;
   background-color: dimgray;
}
#titel {
    display: flex;
    justify-content: center;
    background-color: gray;
}
#ansatte {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.ansattbox {
    display: flex;
    flex-direction: column;
    padding : 0;
    margin : 0;
}
.ansattbox1 {
    display: flex;
    flex-direction: row;
    height: 20px;
}
.bilde {
    display: flex;
    justify-content: center;
}
.border {
    margin: 5px;
}